.AddItem-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    margin-bottom: 100px;
    box-shadow: 6px 6px 10px -2px #a7a4a4;
}

.Add-Item-Input {
    padding: 4px 11px;
    height: 32px;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
}

.Add-Item-Submit,
.Add-Item-Reset {
    width: 40px;
    height: 40px;
    color: #fff;
    border: none;
    margin-left: 18px;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
}
.Add-Item-Submit {
    background-color: #3b3b3b;
}.Add-Item-Submit:hover{
    background-color:white;
    color: #3b3b3b;
    height: 45px;
    width:45px;
}

.Add-Item-Reset {
    background-color: rgb(163, 163, 163);
    margin-bottom: 15px;
}.Add-Item-Reset:hover{
    background-color:white;
    color:rgb(163, 163, 163);
    height:45px;
    width:45px;
}

label {
    padding-left: 2%;
}

.theform {
    width: 80%;
    margin-left: auto;
    margin-right: 10%
}