.Edit-Item-Wrapper {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: #d9d9d9;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 980px;
    margin-bottom: 50px;
    padding-bottom: 25px;
    padding-top: 10px;
    box-shadow: 6px 6px 10px -2px #a7a4a4;
}

h1 {
    text-align: center;
}

.Edit-Item-Input {
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
}

.formContainerEdit {
    width: 80%;
    margin-left: auto;
    margin-right: 10%
}

.Edit-Item-Submit {
    background-color: rgb(59, 59, 59);
    width: 40px;
    height: 40px;
    color: #fff;
    border: none;
    margin-left: 18px;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
}.Edit-Item-Submit:hover{
    background-color: #3498DB;
    color:white;
    width: 45px;
    height: 45px;
}

.chatcontainer {
    background-color: aqua;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 83, 83);
}