.Table-Wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.infoContainer {
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(131, 131, 131);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(154, 154, 154);
    background: linear-gradient(90deg, rgba(154, 154, 154, 1) 87%, rgba(255, 255, 255, 0.9664453506469727) 100%);
}

.title {
    text-align: center;
    color: rgb(34, 34, 34);
}

.info {
    color: rgb(131, 131, 131);
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.tab {
    background-color: rgb(131, 131, 131);
    border: 5px solid white;
    border-radius: 0;
}

.contactTab {
    border: 2px solid rgb(131, 131, 131);
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.contactContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    margin-top: 25px;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding-bottom: 25px;
    background: rgb(190, 190, 190);
    background: radial-gradient(circle, rgb(207, 207, 207) 0%, rgba(255, 255, 255, 0.9664453506469727) 100%);
    box-shadow: 6px 6px 10px -2px #a7a4a4;
}

.contactTitle {
    text-align: center;
}

.form {
    width: 100%;
    max-width: 980px;
}

.sendTab {
    background-color: white;
    border: 2px solid rgb(131, 131, 131);
    color: rgb(131, 131, 131);
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.Collapsible {
    background-color: white;
    color: rgb(131, 131, 131);
    border: 2px solid rgb(131, 131, 131);
    border-radius: 10px;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    outline: none;
    font-size: 18px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.active,
.Collapsible:hover {
    background-color: rgb(131, 131, 131);
    color: white;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #d8d8d8;
}

h1 {
    color: rgb(34, 34, 34);
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    text-shadow: rgb(126, 126, 126) 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0, 0, 0, 0.8) 0 0px 0
}

.description {
    font-size: 25px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.namestyle {
    position: relative;
    animation: mymove 1.9s;
    z-index: -1;
}

@keyframes mymove {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}

button {
    background-color: rgb(71, 71, 71);
    padding: 10px;
    color: white;
    align-items: center;
    border-radius: 10px;
}

.btn.sendbtn {
    align-items: center;
    margin: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 83, 83);
}