.Action-Button {
    width: 45px;
    height: 40px;
    background-color: rgb(41, 41, 41);
    color: #fff;
    border: none;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}